@import "../variables/variables.scss";

.update-form-wrapper {
  padding: 5px 10px 10px 10px;

  & .form__label {
    margin-bottom: 0;
  }

  & .form__label-sign {
    font-size: 10px;
    margin-bottom: 3px;
    margin-left: 3px;
    color: $font-color-secondary-light;
  }
}
